html,body {
    font-size: 16px;
    height: 100%;
    overflow-x: hidden;
}

.display_sp {
    display: none;
}

.display_pc {
    display: block;
}

h2 {
    font-size: 28px;
    color: #009985;
    margin-bottom: 44px;
}

h2.l_lttr {
    font-size: 36px;
}

.w_lttr {
    color: #fff;
}

.center {
    text-align: center;
}

.pc_center {
    text-align: center;
}

section.basic {
    padding-top: 72px;
    padding-bottom: 72px;
}

section.basic .sec_wrap {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: auto;
}


.mv {
    height: 625px;
    background-image: url(../img/mv.jpg);
    background-position: center;
    background-size: cover;
}

.mv .sec_wrap {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.mv h1 {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
}

.mv .catch {
    display: inline-block;
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-size: 20px;
    text-shadow: #000 0px 0px 10px;
}

.back_img {
    background-position: center;
    background-size: cover;
}

.back_img#hand {
    background-image: url(../img/section_img01.jpg);
}

.back_img#folder {
    background-image: url(../img/section_img02.jpg);
}

.back_img .message {
    font-size: 24px;
    color: #fff;
    text-shadow: #000 0px 0px 10px;
}

section.flow {
    background-color: #EFFFFD;
}

.flow_item {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 28px;
}

.flow_item h2 {
    margin-bottom: 56px;
    position: relative;
    display: block;
}

.flow_item h2::before {
    content: "";
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 110px;
    height: 110px;
}

.flow_item h2.flow01::before {
    background-image: url(../img/01.png);
}

.flow_item h2.flow02::before {
    background-image: url(../img/02.png);
}

.flow_item h2.flow03::before {
    background-image: url(../img/03.png);
}

.cv .cv_text {
    margin-bottom: 44px;
}

.cv_link_wrap {
    text-align: center;
}

.cv_link {
    font-weight: bold;
    padding: 20px 80px;
    background-color: #009985;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
}

.cv_link:hover {
    cursor: pointer;
}

footer {
    margin-top: 20px;
    padding-top: 40px;
    position: relative;
    padding-bottom: 40px;
}

footer::before {
    content: "";
    width: 99%;
    height: 1px;
    background-color: #B7B7B7;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer_content {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_content .img {
    width: 40%;
}

.footer_content .img img {
    width: 100%;
}

.footer_content .text {
    width: 59%;
}

@media screen and (max-width:1024px) {

    section.basic .sec_wrap {
        width: 96%;
        margin: auto;
    }
    .mv h1 {
        left: 48px;
    }
}

@media screen and (max-width:768px) {

    html,body {
        font-size: 14px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    h2.l_lttr {
        font-size: 24px;
    }

    .mv .catch {
        font-size: 16px;
    }

    section.basic .sec_wrap {
        width: 96%;
        display: block;
        margin: auto;
    }

    .back_img .message {
        font-size: 20px;
    }
    
    
}

@media screen and (max-width:425px) {

    .display_sp {
        display: block;
    }
    
    .display_pc {
        display: none;
    }

    .sp_left {
        text-align: left;
    }

    .mv h1 {
        left: 50%;
        top: 42%;
        transform: translate(-50%,-50%);
    }

    .mv .catch {
        right: 0;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);
        width: 90%;
        margin: auto;
        text-align: left;
    }

    .footer_content {
        width: 96%;
        margin: auto;
    }

    .footer_content .img {
        width: 100%;
        margin-bottom: 40px;
    }

    .footer_content .text {
        width: 100%;
    }



    
    
}

