html,body {
    font-size: 16px;
    height: 100%;
    overflow-x: hidden;
}

.display_sp {
    display: none;
}

.display_pc {
    display: block;
}

h2 {
    font-size: 28px;
    color: #009985;
    margin-bottom: 44px;
    margin-top: 0px;
}

h2.l_lttr {
    font-size: 36px;
}

.w_lttr {
    color: #fff;
}

.center {
    text-align: center;
}

.pc_center {
    text-align: center;
}

section.basic,
section.m_basic {
    padding-top: 72px;
    padding-bottom: 72px;
} 

section.basic .sec_wrap {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: auto;
}

section.m_basic .sec_wrap {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: auto;
}


.mv {
    height: 550px;
    background-image: url(../img/mv.jpg);
    background-position: 20%;
    background-size: cover;
}

.mv .sec_wrap {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.mv h1 {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
}

section.bk_color {
    background-color: #EFFFFD;
}

.think_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.think_container .text {
    background-color: #fff;
    box-shadow: #00000029 0px 0px 8px;
    width: 65%;
    border-radius: 8px;
    padding: 64px;
    font-size: 20px;
}

.think_container .img {
    width: 34%;
    text-align: center;
}

.think_container .img img{
    width: 100%;
}

.work_life p {
    font-size: 20px;
}

.work_life_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.work_life_container .img img {
    width: 100%;
}

.work_life_container .img{
    width: 24%;
}

.work_life_container .text{
    width: 75%;
}

.work_life_text {
    margin-bottom: 72px;
}

.back_img {
    background-position: center;
    background-size: cover;
}

.back_img#hand {
    background-image: url(../img/section_img01.jpg);
}


.feature_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.feature_container .feature_items {
    width: 70%;
}

.feature_container .feature_img {
    width: 29%;
}

.feature_container .feature_img img{
    width: 100%;
}

.feature_item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: #00000029 0px 0px 8px;
    margin-bottom: 32px;
    padding: 24px 36px;
}

.feature_item h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.feature_item:last-child {
    margin-bottom: 0;
}

.cv .cv_text {
    margin-bottom: 44px;
}

.cv_link_wrap {
    text-align: center;
}

.cv_link {
    font-weight: bold;
    padding: 20px 80px;
    background-color: #009985;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
}

.cv_link:hover {
    cursor: pointer;
}


.cv_line {
    background-color: #EFFFFD;
}

.line_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.line_container .line_img {
    width: 39%;
    overflow: hidden;
}

.line_container .line_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.line_container .line_text {
    width: 58%;
}

.line_container .line_account {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.line_account img {
    width: 20%;
}

.line_account p {
    width: 78%;
}

.line_text a {
    display: inline-block;
    margin-bottom: 24px;
}

.line_text h3,
.cv h3 {
    font-size: 28px;
}

footer {
    padding-top: 40px;
    position: relative;
    padding-bottom: 40px;
}

footer::before {
    content: "";
    width: 99%;
    height: 1px;
    background-color: #B7B7B7;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer_content {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_content .img {
    width: 40%;
}

.footer_content .img img {
    width: 100%;
}

.footer_content .text {
    width: 59%;
}

@media screen and (max-width:1024px) {
    .mv h1 {
        left: 48px;
    }
}

@media screen and (max-width:768px) {

    html,body {
        font-size: 14px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    h2.l_lttr {
        font-size: 24px;
    }

    section.basic .sec_wrap {
        width: 96%;
        margin: auto;
    }

    .mv .catch {
        font-size: 16px;
    }

    section.basic .sec_wrap,
    section.m_basic .sec_wrap {
        width: 96%;
        display: block;
        margin: auto;
    }

    .think_container .text {
        width: 100%;
        text-align: center;
        padding: 36px;
        font-size: 16px;
    }

    .think_container .img {
        width: 100%;
    }



    .work_life p {
        font-size: 16px;
    }

    .work_life_container {
        width: 100%;
    }

    .work_life_container .img {
        width: 100%;
        max-width: 400px;
        margin: auto;
        margin-bottom: 40px;
    }

    .work_life_container .img img{
        width: 100%;
    }

    .work_life_container .text {
        width: 100%;
    }

    .feature_container .feature_items {
        width: 100%;
        margin-bottom: 40px;
    }
    
    .feature_container .feature_img {
        width: 100%;
        max-width: 400px;
        margin: auto;
    }

    .feature_container .feature_img img{
        width: 100%;
    }

    .line_text h3, .cv h3 {
        font-size: 20px;
    }

    .line_container .line_img {
        width: 100%;
    }

    .line_container .line_text {
        width: 100%;
    }

    
    
}

@media screen and (max-width:424px) {

    .display_sp {
        display: block;
    }
    
    .display_pc {
        display: none;
    }

    .sp_left {
        text-align: left;
    }

    .mv h1 {
        left: 50%;
        top: 42%;
        transform: translate(-50%,-50%);
    }

    .mv .catch {
        right: 0;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);
        width: 90%;
        margin: auto;
        text-align: left;
    }

    .footer_content {
        width: 96%;
        margin: auto;
    }

    .footer_content .img {
        width: 100%;
        margin-bottom: 40px;
    }

    .footer_content .text {
        width: 100%;
    }



    
    
}

