html,body {
    font-size: 16px;
    height: 100%;
    overflow-x: hidden;
    color: #333;
}

.display_sp {
    display: none;
}

.display_pc {
    display: block;
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 44px;
    margin-top: 0px;
}

h2.l_lttr {
    font-size: 36px;
}

.w_lttr {
    color: #fff;
}

section.bk_color {
    background-color: #EFFFFD;
}

.center {
    text-align: center;
}

.pc_center {
    text-align: center;
}

section.basic,
section.m_basic {
    padding-top: 72px;
    padding-bottom: 72px;
} 

section.basic .sec_wrap {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: auto;
}

section.m_basic .sec_wrap {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: auto;
}


.mv_container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 72px;
}

.mv_container h1 {
    width: 48%;
}

.mv_container .mv_img {
    width: 48%;
}

.mv_container img{
    width: 100%;
}

.appeal_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #79CDC567;
    border-radius: 16px;
    margin-bottom: 40px;
}

.appeal_item .appeal_img {
    width: 40%;
}

.appeal_item .appeal_img img{
    width: 100%;
}

.appeal_item .appeal_text {
    width: 55%;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
}

.arrow_img {
    text-align: center;
    margin-bottom: 40px;
}

.arrow_img img {
    width: 200px;
}

span.line_color {
    color: #31AE36;
}
span.teruko_color {
    color: #009985;
}

.appeal_item.second {
    justify-content: space-around;
}

.appeal_item.second .appeal_img {
    width: 20%;
}

.appeal_item.second .appeal_text {
    width: 40%;
    background-color: rgba(255,255,255,0);
}

.l_lttr {
    font-size: 24px;
    margin-bottom: 0;

}

.two_col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.col_item_img {
    width: 50%;
}
.col_item_img img{
    width: 100%;
}

.col_item_text {
    width: 40%;
    font-size: 24px;
    font-weight: bold;
}

.col_item_text p {
    margin-bottom: 40px;
}

.flow_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #79CDC5;
    padding: 20px;
    padding-left: 80px;
    border-radius: 16px;
    margin-bottom: 40px;
    position: relative;
    margin-left: 60px;
}

.flow_item .flow_item_img{
    width: 30%;
}

.flow_item .flow_item_img img {
    width: 100%;
}

.flow_item .flow_item_text {
    width: 60%;
    background-color: #fff;
    border-radius: 12px;
    padding: 36px;
}

.flow_item.step3 .flow_item_text {
    padding-top: 60px;
    padding-bottom: 60px;
}

.flow_item::after {
    content: "";
    font-size: 40px;
    color: #1DBA00;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    border: #1DBA00 solid 10px;
    width: 124px;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.flow_item.step1::after {
    content: "1";
}

.flow_item.step2::after {
    content: "2";
}

.flow_item.step3::after {
    content: "3";
}

.example_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 72px;
}

.example_item .example_img {
    width: 20%;
}

.example_item .example_img img{
    width: 100%;
}

.example_item .example_img h2{
    color: #009985;
}

.example_item .example_content {
    width: 78%;
}

.example_content_item {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.example_content_item:nth-child(5) {
    margin-bottom: 0;
}

.example_content_item .example_h {
    width: 35%;
    background-color: #79CDC5;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example_content_item .example_i {
    width: 65%;
    background-color: #DFF0EF;
    padding: 20px;
}

div.cv {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 8px #ccc;
    padding: 40px;
    margin-bottom: 72px;
}

.cv_link {
    font-weight: bold;
    padding: 20px 80px;
    background-color: #009985;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 24px;
    font-size: 20px;
}

.cv_link:hover {
    cursor: pointer;
}

div.cv.orange {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #F7B200;
}

div.cv.orange .orange_img {
    width: 20%;
}

div.cv.orange .orange_img img{
    width: 100%;
}

div.cv.orange .line_cv {
    width: 60%;
}

.line_account {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.line_account h2 {
    width: 100%;
}

.line_account img {
    width: 20%;
}

.line_account p {
    width: 79%;
}

.line_btn {
    margin-bottom: 20px;
    display: inline-block;
}

div.cv.orange .line_cv h2{
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 24px;
}

footer {
    padding-top: 40px;
    position: relative;
    padding-bottom: 40px;
}

footer::before {
    content: "";
    width: 99%;
    height: 1px;
    background-color: #B7B7B7;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer_content {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_content .img {
    width: 40%;
}

.footer_content .img img {
    width: 100%;
}

.footer_content .text {
    width: 59%;
}



@media screen and (max-width:1024px) {
    section.basic .sec_wrap {
        width: 96%;
        margin: auto;
    }
}

@media screen and (max-width:768px) {

    .display_sp {
        display: block;
    }

    .display_pc {
        display: none;
    }

    .mv_container h1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .mv_container .mv_img {
        width: 60%;
    }

    .appeal_item {
        padding: 20px;
    }
    .appeal_item .appeal_img {
        width: 100%;
        margin-bottom: 24px;
        padding: 12px;
    }

    .appeal_item .appeal_text {
        width: 100%;
    }

    .appeal_item.second .appeal_text {
        width: 100%;
    }


    .appeal_item.second .appeal_img {
        width: 60%;
    }

    .appeal_item.second .appeal_text {
        padding: 0;
    }

    .appeal_item.second .l_lttr {
        margin-top: 0;
    }

    .col_item_img {
        width: 100%;
        margin-bottom: 24px;
    }

    .col_item_text {
        width: 100%;
        font-size: 24px;
        text-align: center;
    }

    .flow_item {
        padding-left: 20px;
        margin-left: 0;
        margin-top: 100px;
        padding-top: 80px;
    }

    .flow_item::after {
        top: 0;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    .flow_item .flow_item_img {
        width: 100%;
        margin-bottom: 24px;
    }

    .flow_item .flow_item_text {
        width: 100%;
    }


    .example_item .example_img {
        width: 100%;
    }

    .example_item .example_content {
        width: 100%;
        margin-bottom: 24px;
    }

    .cv_link {
        padding: 20px 66px;
    }

    div.cv {
        padding: 32px;
    }

    div.cv.orange .orange_img {
        width: 70%;
        margin-bottom: 24px;
    }

    div.cv.orange .line_cv {
        width: 100%;
    }

    .footer_content {
        width: 96%;
        margin: auto;
    }

    .footer_content .img {
        width: 100%;
        margin-bottom: 40px;
    }

    .footer_content .text {
        width: 100%;
    }


}